@font-face {
  font-family: "Rubik";
  src: url("./Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik-Medium";
  src: url("./Rubik-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik-Light";
  src: url("./Rubik-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
